/* LEGACY BROWSERS */
section, article, aside, footer, header, nav {
  display: block;
}

body {
  background-color: rgb(233, 42, 42);
  font-family: 'Roboto' , sans-serif;
  line-height: 1.5rem;
  margin: 0;
}

section {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: hidden;
  padding: 6rem;
}

article {
  width: 100%;
}
nav , footer {
  align-items: center;
  background-color: rgba(47,47,47,0.98);
  display: flex;
  justify-content: center;
  min-height: 50px;
  width: 100%;
}

footer {
  color: rgb(153, 153, 153);
}

nav {
   
  position: fixed;
  top: 0;
}
 
 h3, h1,h2 {
  font-family: 'Playfair' , serif;
  font-weight: 300;
  line-height: 1.2;
}

h1 , h2 {
  color: rgb(255, 255, 255);
  margin-left: 4%;
  text-align: left;
  
}


h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 1.2;
}


h3 {
  font-size:3rem;
}

h4{font-size:3rem;}

/* Navbar */

nav > a  , nav > p {
  background-color: transparent;
  text-decoration: none;
}

nav > a {
  color: rgb(153, 153, 153);
  padding: 10px 20px;
}

nav > a:hover {
  color: rgba(255, 255, 255, 0.8);
}

nav > p {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 4px;
  padding: 0 20px;
}

.hero {
  background-size: cover;
  height: calc(100vh - 56px);
  width: 100%;
}

/*Section - Hero Cover */

.hero.cover {
  background-image: url('https://engineerchic.files.wordpress.com/2013/12/nelson-mandela.jpg');
  background-position: top center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 56px;
}

/*Section - Intro */

section.intro , section.timeline,section.quotes,childhood{
  background-color: #eee;
}

aside {
  
 
  width:100%;
}

/* Section - Childhood */

section.childhood li {
  margin-bottom: 1.5rem;
}
/* Section - timeline */

section.timelineli {
  line-height:1.5rem}

section.timeline span {
  font-weight: bold;
 
}

/* Section - Visuals */
figure.visuals {
  margin: 0;
  max-height: 100%;
  overflow-y: hidden;
}

figure.visuals img {
  height: auto;
  vertical-align: bottom;
  width:70%;
  
  margin-left:53px;}
 
/* Emoji */

figure.emoji {
  animation: emoji 1.5s ease infinite;
  bottom: 10px;
  position: fixed;
  right: 10px;
}

figure.emoji:hover {
  animation-play-state: paused;
  opacity: 0.5;
}

@keyframes emoji {
  30% { transform: scale(1.1); }
  40%, 60% { transform: rotate(0deg) scale(1.1); }
  50% { transform: rotate(20deg) scale(1.1); }
  70% { transform: rotate(0deg) scale(1.1); }
  100% { transform: scale(1); }
}

figure.emoji img {
  max-width: 90px;
}

/* Source */

div.source {
  padding: 6rem;
  text-align: center;
}
/* MEDIA QUERIES */
@media screen and (min-width: 1600px) {
  section {
    max-width: 50%;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait), (max-width: 768px){
  nav {
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }

  section.intro {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  aside {
    width: 100%;
    margin-right: 0;
    margin-top: 2rem;
  }

}
 @media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}

